@page "/customers"
@page "/customers/{Country}"

@using Microsoft.EntityFrameworkCore
@using Northwind.WebApi.Models
@attribute [StreamRendering]

<PageTitle>Customers</PageTitle>

@if (customers == null)
{
    <p><em>Daten werden geladen...</em></p>
}
else if (!customers.Any())
{
    <p><em>Keine Kunden gefunden.</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>CustomerId</th>
                <th>CompanyName</th>
                <th>Country</th>
                <th>City</th>
                <th>Contact</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in customers)
            {
                <tr>
                    <td>@item.CustomerId</td>
                    <td>@item.CompanyName</td>
                    <td>@item.Country</td>
                    <td>@item.City</td>
                    <td>@item.ContactTitle</td>
                </tr>
            }
        </tbody>
    </table>
}

@inject IDbContextFactory<NorthwindDbContext> DbFactory
@code {
    private List<Customer>? customers;

    [Parameter] public string? Country { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        using var context = DbFactory.CreateDbContext();

        if (string.IsNullOrWhiteSpace(Country))
        {
            customers = await context.Customers.ToListAsync();
        }
        else
        {
            customers = await context.Customers
                .Where(c => c.Country == Country)
                .ToListAsync();
        }
    }
}
